            h1 {
                color: red;
            }
            
            body {
                background-color: rgb(69, 252, 3);
            }
            
            h2 {
                color: #4792b3;
            }
            
            #one {
                color: aqua
            }
            
            #second {
                border-style: dotted;
                border-color: blue;
            }
            
            .third {
                border-style: dotted;
                border-color: rgb(226, 138, 24);
                background-color: brown;
            }